<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [4]:
%%sql
select
p.categoryname,
AVG(case when s.orderdate between '2022-01-01' and '2022-12-31' then s.quantity*s.netprice*s.exchangerate else 0 end) as avg_net_revenue_2022,
AVG(case when s.orderdate between '2023-01-01' and '2023-12-31' then s.quantity*s.netprice*s.exchangerate else 0 end) as avg_net_revenue_2023
from sales s
left join product p on s.productkey = p.productkey
group by  p.categoryname
order by p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  avg_net_revenue_2022  avg_net_revenue_2023
0                          Audio                 50.18                 45.06
1        Cameras and camcorders                 176.85                147.23
2                    Cell phones                194.66                143.89
3                      Computers                384.13                250.55
4                 Games and Toys                 15.60                 13.34
5                Home Appliances                390.05                349.20
6  Music, Movies and Audio Books                 93.37                 68.11
7                   TV and Video                425.35                322.72

In [8]:
%%sql
select
  PERCENTILE_CONT(0.50) within group (order by netprice) as median_price
from sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   median_price
0        191.95

In [15]:
%%sql
select
p.categoryname,
PERCENTILE_CONT(0.5) within group (order by (case when s.orderdate between '2022-01-01' and '2022-12-31' then(s.quantity*s.netprice*s.exchangerate) end)) as y2022_median_revenue,
PERCENTILE_CONT(0.5) within group (order by (case when s.orderdate between '2023-01-01' and '2023-12-31' then(s.quantity*s.netprice*s.exchangerate) end)) as y2023_median_revenue

from sales s
left join product p on s.productkey = p.productkey
group by  p.categoryname
order by p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  y2022_median_revenue  y2023_median_revenue
0                          Audio                257.21                266.59
1        Cameras and camcorders                 651.46                672.60
2                    Cell phones                418.60                375.88
3                      Computers                809.70                657.18
4                 Games and Toys                 33.78                 32.62
5                Home Appliances                791.00                825.25
6  Music, Movies and Audio Books                186.58                159.63
7                   TV and Video                730.46                790.79

In [19]:
%%sql
select
  orderdate,
  quantity,
  netprice,
  case when quantity >= 2 and netprice >= 50 then 'High Value Order'
  else 'Standard Order'
  end as order_type
from sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

         orderdate  quantity  netprice        order_type
0       2015-01-01         1     98.97    Standard Order
1       2015-01-01         1    659.78    Standard Order
2       2015-01-01         2     54.38  High Value Order
3       2015-01-01         4    286.69  High Value Order
4       2015-01-01         7    135.75  High Value Order
...            ...       ...       ...               ...
199868  2024-04-20         7    139.19  High Value Order
199869  2024-04-20         1    159.99    Standard Order
199870  2024-04-20         2     53.67  High Value Order
199871  2024-04-20         5    293.40  High Value Order
199872  2024-04-20         6      6.88    Standard Order

[199873 rows x 4 columns]

In [24]:
%%sql
select
  orderdate,
  quantity,
  netprice,
  case when quantity >= 2 and netprice >= 100 then 'Multiple High Value Order'
  when netprice >= 100 then 'Single High Value Order'
  when quantity >= 2 then 'Multiple Standard Order'
  else 'Single Standard Order'
  end as order_type
from sales
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  quantity  netprice                 order_type
0  2015-01-01         1     98.97      Single Standard Order
1  2015-01-01         1    659.78    Single High Value Order
2  2015-01-01         2     54.38    Multiple Standard Order
3  2015-01-01         4    286.69  Multiple High Value Order
4  2015-01-01         7    135.75  Multiple High Value Order
5  2015-01-01         3    434.30  Multiple High Value Order
6  2015-01-01         1     58.73      Single Standard Order
7  2015-01-01         3     74.99    Multiple Standard Order
8  2015-01-01         2    113.57  Multiple High Value Order
9  2015-01-01         1    499.45    Single High Value Order

In [28]:
%%sql
select
  p.categoryname,
  sum(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31'
      and (s.quantity * s.netprice * s.exchangerate) < 398
  then (s.quantity * s.netprice * s.exchangerate)  END) AS y2022_low_revenue,
  sum(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31'
      and (s.quantity * s.netprice * s.exchangerate) > 398 then (s.quantity * s.netprice * s.exchangerate) end) as y2022_high_revenue,
        sum(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
      and (s.quantity * s.netprice * s.exchangerate) < 398
  then (s.quantity * s.netprice * s.exchangerate)  END) AS y2023_low_revenue,
  sum(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
      and (s.quantity * s.netprice * s.exchangerate) > 398 then (s.quantity * s.netprice * s.exchangerate) end) as y2023_high_revenue
from sales s
left join product p on s.productkey = p.productkey
group by  p.categoryname
order by p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,y2022_low_revenue,y2022_high_revenue,y2023_low_revenue,y2023_high_revenue
0,Audio,222337.83,544600.39,180251.13,508439.06
1,Cameras and camcorders,133004.54,2249528.02,104869.46,1878676.83
2,Cell phones,814449.53,7299245.55,729699.39,5266478.24
3,Computers,624340.42,17237873.07,590790.31,11060076.90
4,Games and Toys,231979.63,84147.67,206103.36,64271.60
5,Home Appliances,219797.07,6392649.61,176261.35,5743731.52
6,"Music, Movies and Audio Books",685808.49,2303488.80,574958.76,1605809.37
7,TV and Video,272338.29,5542202.32,164275.35,4246708.87

In [49]:
%%sql
with qurt as(
select
PERCENTILE_CONT(0.25) within group (order by s.quantity*s.netprice*s.exchangerate) as qt_25,
PERCENTILE_CONT(0.75) within group (order by s.quantity*s.netprice*s.exchangerate) as qt_75
from sales s
where orderdate between '2022-01-01' and '2023-12-31'
)
select
  p.categoryname,
  sum(s.quantity * s.netprice * s.exchangerate) as total_revenue,
  case when (s.quantity*s.netprice*s.exchangerate) <= q.qt_25 then '3-Low'
  when (s.quantity*s.netprice*s.exchangerate) >= q.qt_75 then '1-High'
  else '2-Medium'
  end as revenue_tier
from sales s
left join product p on s.productkey = p.productkey,
qurt q
group by  p.categoryname,revenue_tier
order by p.categoryname,revenue_tier

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

                     categoryname  total_revenue revenue_tier
0                           Audio     1213265.71       1-High
1                           Audio     3832415.38     2-Medium
2                           Audio      267217.01        3-Low
3         Cameras and camcorders     15050781.63       1-High
4         Cameras and camcorders      3388546.10     2-Medium
5         Cameras and camcorders        81032.92        3-Low
6                     Cell phones    21874993.15       1-High
7                     Cell phones    10338963.22     2-Medium
8                     Cell phones      410309.35        3-Low
9                       Computers    79607760.89       1-High
10                      Computers    10808054.11     2-Medium
11                      Computers      203207.06        3-Low
12                 Games and Toys      133749.09       1-High
13                 Games and Toys     1001381.91     2-Medium
14                 Games and Toys      533443.13        3-Low
15                Home Appliances    22383475.30       1-High
16                Home Appliances     4118724.64     2-Medium
17                Home Appliances      105045.60        3-Low
18  Music, Movies and Audio Books     3844996.29       1-High
19  Music, Movies and Audio Books     6100817.99     2-Medium
20  Music, Movies and Audio Books      642496.71        3-Low
21                   TV and Video    16632856.33       1-High
22                   TV and Video     3766783.30     2-Medium
23                   TV and Video       67221.76        3-Low